apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-worker
  namespace: nexus
spec:
  template:
    spec:
      nodeSelector:
        nodepool: gpu
      tolerations:
        - key: "nvidia.com/gpu"
          operator: "Exists"
          effect: "NoSchedule"
      containers:
        - name: model-worker
          image: vllm/vllm-openai:latest
          imagePullPolicy: IfNotPresent
          args:
            - "--model"
            - "$(MODEL_ID)"
            - "--host"
            - "0.0.0.0"
            - "--port"
            - "8001"
          env:
            - name: MODEL_ID
              value: "meta-llama/Meta-Llama-3-8B-Instruct"
          resources:
            requests:
              cpu: "1000m"
              memory: "4Gi"
            limits:
              cpu: "4000m"
              memory: "16Gi"
              nvidia.com/gpu: "1"
